<form method="POST" action="/artists">
  <div>
    <label>Artist name<label/>
    <input type="text" name="artist_name" />
  <div/>
  
  <div>
    <label>Artist genre<label/>
    <input type="text" name="artist_genre" />
  <div/>

  <input type="submit" />
</form>